body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.searchClass input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.searchClass button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.searchClass button:hover {
    background: #0b7dda;
  }
  
  form.searchClass::after {
    content: "";
    clear: both;
    display: table;
  }

  .card {
    float: left;
    width: 25%;
    padding: 16px;
    box-sizing: border-box;
  }

  .card img {
    width: 100%;
  }

  .card .container {
    text-align: center;
    padding: 2px 16px;
  }
  .radio-container {
    display: flex;
  }
  
  .radio-container div {
    margin-right: 20px;
  }
  


  /* SLIDER */


  .carousel {
    width: 100%;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }

  